{% extends "account/base.html" %}

{% load account %}

{% load user_filters %}

{% block head_title %}Сброс пароля{% endblock %}


{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Сброс пароля</div>
        <div class="card-body">

          <p class="text-center">
            Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.
          </p>

          <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            <div class="form-group row">
              <label for="{{ form.email.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                E-mail
              </label>
              <div class="col-md-6">
                {{ form.email|addclass:"form-control" }}
              </div>
            </div>

            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Сбросить пароль
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
