<div class="card mb-3 mt-1 shadow-sm">

  {% load thumbnail %}
  {% thumbnail post.image "960x240" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" alt="" />
  {% endthumbnail %}

  <div class="card-body">
    <p {% if post.is_pub == True %}class="card-text" {% else %}class="card-text text-muted" {% endif %}>
      <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
        <strong class="d-block text-gray-dark">
          @{{ post.author }}
        </strong>
      </a>
      {{ post.title|safe }} <br /><br />
      {{ post.text|safe }}
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group ">
        {% if post.is_pub == True %}
          <a class="btn btn-sm text-muted" href="{% url 'post' post.author.username post.id %}" role="button">
            {% if post.comments.exists %}
              {{ post.comments.count }} комментариев
            {% else %}
              Добавить комментарий
            {% endif %}
          </a>
        {% endif %}

        {% if user == post.author %}
          <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id %}" role="button">
            Редактировать
          </a>
          <a class="btn btn-sm text-muted" href="{% url 'post_delete' post.author.username post.id %}" role="button">
            Удалить
          </a>
        {% endif %}
      </div>

      <small class="text-muted">
        {{ post.pub_date|date:"d M Y" }}
      </small>

    </div>
  </div>
</div>